<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.minsappofteachingforchildren.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.gdut.minsappofteachingforchildren.entity.FIle">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="localAddress" column="local_address" jdbcType="VARCHAR"/>
            <result property="suffix" column="suffix" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,local_address,suffix
    </sql>
</mapper>
